{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Cauldron Overflow Dashboard
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-6">
            <h3>Latest Questions</h3>
            <ol>
                {% for city in latestCities %}
                    <li>
                        <a href="{{ path('app_front_city_show', {'slug': city.slug}) }}">{{ city.name }}</a>
                        <br>- {{ city.createdAt|date }}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-6">
            <h3>Top Voted</h3>
            <ol>
                {% for city in topRatingCities %}
                    <li>
                        <a href="{{ path('app_front_city_show', {'slug': city.slug}) }}">{{ city.name }}</a> ({{ city.rating }})
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
